/* Estilos para a pagina toda */
body{
  margin: 0;
}

/* Estilos para o cabeçalho */
.Cabecalho {
    background-color: #333; /* Cor de fundo do cabeçalho */
    color: #00129e; /* Cor do texto no cabeçalho */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Espaçamento interno do cabeçalho */
  }
  
  /* Estilos para o logotipo no cabeçalho */
  .LogoHeader img {
    max-width: 50px; /* Largura máxima para a imagem do logotipo */
    border-radius: 50%; /* Tornar a imagem redonda */
  }
  
  /* Estilos para o título no cabeçalho */
  .TitleHeader h1 {
    font-size: 24px; /* Tamanho da fonte do título */
    margin: 0; /* Remover margem padrão */
  }
  
  /* Estilos para o link "Logar" no cabeçalho */
  .BotaoHeader a {
    text-decoration: none; /* Remover sublinhado do link */
    background-color: #f0f0f0; /* Cor de fundo do botão */
    color: #00129e; /* Cor do texto no botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Cantos arredondados do botão */
  }
  
  /* Estilize o link quando o cursor estiver sobre ele */
  .BotaoHeader a:hover {
    background-color: #00129e; /* Cor de fundo do botão ao passar o mouse */
    color: #fff; /* Cor do texto no botão ao passar o mouse */
  }

  .main {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
  }
  .login{
   margin: 10px auto;
    width: 500px;
  }
  .login form{
   
    padding: 20px;
    width: 300px;
    margin: 10px auto;
  }
  .login h2 {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .login h1 {
    margin-top: 0;
  }
  
  .login label {
    display: block;
    margin-bottom: 10px;
  }
  
  .login input[type="text"],[type="password"]{
    width: 80%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
  }
  
  .login  button {
    width: 50%;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .login button:hover {
    background-color: #0056b3;
  }

/* Estilos para o rodapé */
  .rodape {
    background-color: #333;
    text-align: center;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

/* Estilos para os icones de "Redes" no rodapé */ 
  .Redes i {
    font-size: 24px; /* Tamanho do ícone */
    margin-right: 10px; /* Espaçamento entre os ícones */
  }

/* Estilos para o link "Feito por Dev" na div "Git" */
  .Git a {
    text-decoration: none;
    color: #00129e;
    font-weight: bold; /* Deixa o texto em negrito */
  }


  