/* Estilos para a pagina toda */
body {
  margin: 0;
  background-color: #f0f0f0;
}

/* Estilos para o cabeçalho */
.Cabecalho {
  background-color: #f0f0f0; /* Cor de fundo do cabeçalho */
  color: #00129e; /* Cor do texto no cabeçalho */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0;
}

/* Estilos para o título no cabeçalho */
.TitleHeader h1 {
  font-size: 50px; /* Tamanho da fonte do título */
}

/* Estilos para o meio */
.meio {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center; /* Corrigi de 'align-content' para 'align-items' */
  justify-content: center; /* Adicionei isso para centralizar conteúdo verticalmente */
  padding: 20px; /* Adicionei um preenchimento interno para afastar o conteúdo das bordas */
  margin: 30px 470px 60px 470px;
}

/* Estilos para a classe "Titulo" dentro da seção "main" */
.Titulo {
  text-align: center;
}

.Titulo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.Titulo h3 {
  color: #fff;
  font-size: 18px;
}

/* Estilos para a classe "Logar" dentro da seção "main" */
.Logar {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
}

.Logar label {
  display: block;
  color: #fff;
  font-size: 16px;
}

.Logar input[type="text"],
.Logar input[type="password"] {
  padding: 10px;
  margin: 10px; /* Espaçamento superior para separar os campos de entrada */
  border: none;
  background-color: #555;
  color: #fff;
}

.Logar button {
  padding: 10px;
  margin-top: 10px; /* Espaçamento superior para separar o botão dos campos de entrada */
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.Logar button:hover {
  background-color: #0056b3;
}

/* Estilos para o rodapé */
  .rodape {
    background-color: #333;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

/* Estilos para os icones de "Redes" no rodapé */ 
  .Redes i {
    font-size: 24px; /* Tamanho do ícone */
    margin-right: 10px; /* Espaçamento entre os ícones */
  }

/* Estilos para o link "Feito por Dev" na div "Git" */
  .Git a {
    text-decoration: none;
    color: #00129e;
    font-weight: bold; /* Deixa o texto em negrito */
  }

/* Regras de mídia queries para ajustar o layout em telas menores */
@media screen and (max-width: 768px) {
  .Cabecalho {
    padding: 1% 0;
  }

  .TitleHeader h1 {
    font-size: 110%; /* Reduzindo a escala da fonte para 110% em telas menores */
  }

  .meio {
    padding: 10%;
  }
}